.desaparecer {
  opacity: 0;
  filter: blur(15px);
  transition: all 2s;
  transform: translateX(-100%);
}

.aparecer {
  opacity: 1;
  filter: blur(0);
  transition: all 2s;
  transform: translateX(0);
}

.navbar {
  background-color: #B81414;
}
.navbar .navbar-brand img {
  height: 50px;
}
.navbar .nav-link {
  font: 25px "Jersey 20", Barlow, Arial;
  color: #FFF000;
  text-transform: uppercase;
}
.navbar .nav-link:hover {
  color: black;
}
.navbar .navbar-nav .nav-link.show {
  color: #FFF000;
}
.navbar .dropdown-menu {
  background: #B81414;
  border-radius: 0;
  border-top: 5px solid #FFF000;
}
.navbar .dropdown-menu .dropdown-item {
  font: 20px "Jersey 20", Barlow, Arial;
  text-transform: uppercase;
  color: #FFF000;
}
.navbar .btn {
  margin-left: 15px;
}

.navbar-toggler {
  background-color: #FFF;
}

h1 {
  color: black;
}

.btn {
  font: 25px "Jersey 20", Barlow, Arial;
  border-radius: 0;
}

.card {
  margin-bottom: 10px;
  box-shadow: 0 0 10px #878787;
}
.card img {
  border-radius: 5px 5px 0 0;
}

body {
  background-color: #fffafa;
  font-family: Barlow, Arial, Tahoma;
  margin-top: 75px;
}

#news-area {
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
}
#news-area h3 {
  color: black;
}
#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
  color: black;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid black;
  display: inline;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid black;
  background-color: #FFF000;
  text-transform: uppercase;
  color: #FFF;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: 1s;
}
#news-btn:hover {
  background-color: #B81414;
  color: #FFF;
}

.tela-login {
  background-color: #b81414;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  border-radius: 15px;
  color: #FFF;
}

input {
  padding: 15px;
  border: none;
  outline: none;
  font-size: 15px;
}

.botton-login {
  background-color: #FFF000;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: black;
  font-size: 15px;
}
.botton-login:hover {
  background-color: #780606;
  cursor: pointer;
  transition: 2s;
}

footer {
  position: absolute;
  background: #B81414;
  height: auto;
  width: 100%;
  font-family: Barlow, Arial, Tahoma;
  padding-top: 40px;
  color: #FFF;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}

.sociais {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.sociais li {
  margin: 0 10px;
}
.sociais a {
  text-decoration: none;
  color: #FFF;
}
.sociais a:hover {
  color: #FFF000;
}
.sociais a i {
  font-size: 1.5rem;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  font-family: Barlow, Arial, Tahoma;
  word-spacing: 2px;
  text-transform: capitalize;
}

@media (min-width: 960px) {
  #email-input {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
